<div class="album py-5">
  <div class="container">

      <img class="card-img-top" src="{{ event.image }}" alt="Event Image">

      <div class="px-4 pt-3 container-fluid">
        <div class="card shadow">
            <div class="card-body">
              <div class="mb-3">
                <h6 class="fw-bold">Object Id</h6>
                <p>{{ event._id }}</p>
              </div>
              <div class="mb-3">
                <h6 class="fw-bold">Event Id</h6>
                <p>{{ event.id }}</p>
              </div>
              <div class="mb-3">
                <h6 class="fw-bold">Name</h6>
                <p>{{ event.name }}</p>
              </div>
              <div class="mb-3">
                <h6 class="fw-bold">Description</h6>
                <p>{{ event.description }}</p>
              </div>
              <div class="mb-3">
                <h6 class="fw-bold">Start Date Time</h6>
                <p>{{ event.startDateTime|dateToString }}</p>
              </div>
              <div class="mb-3">
                <h6 class="fw-bold">End Date Time</h6>
                <p>{{ event.startDateTime|endDateTimeCalc:event.duration }}</p>
              </div>
              <div class="mb-3">
                <h6 class="fw-bold">Duration</h6>
                <p>{{ event.duration|durationFormat }}</p>
              </div>
              <div class="mb-3">
                <h6 class="fw-bold">Is Active</h6>
                <p><input class="form-check-input" type="checkbox" value="" [checked]="event.isActive" /> </p>
              </div>
              <div class="mb-3">
                <h6 class="fw-bold">Capacity</h6>
                <p>{{ event.capacity }}</p>
              </div>
              <div class="mb-3">
                <h6 class="fw-bold">Tickets Available</h6>
                <p>{{ event.ticketsAvailable }}</p>
              </div>
              <div class="mb-3">
                <h6 class="fw-bold">Category Id</h6>
                <div class="d-flex flex-row">
                  <div class="m-1" *ngFor="let c of event.categoryList">
                    <button>{{ c.name }}</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>