<!DOCTYPE html>

<head>
    <title>Add Category</title>

     <!-- a library of css to decorate the page -->
   <link href="/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <header class="container m-3 mx-auto">
        <div class="mt-4 p-5 bg-secondary text-dark rounded">
            <h1 class="text-center text-light">Events Management App</h1>
        </div>
    </header>
    <!-- End Header -->

    <main>
        <div class="album py-5">
            <div class="container">
                <h3 class="my-1 text-center">Add Category</h3>
                <h4 class="my-1 text-center">File in category details & click submit</h4>

                <div class="row row-cols-1 row-cols-sm-2 g-3 justify-content-center">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <form action="/33048126/add-category" method="POST">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Enter category name" required />
                                    </div>

                                    <div class="mb-3">
                                        <label for="description" class="form-label">Description</label>
                                        <input type="text" name="description" class="form-control" id="desc" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="image" class="form-label">Image</label>
                                        <input type="text" name="image" class="form-control" id="image" placeholder="Enter static resource path" />
                                    </div>

                                    <button class="btn btn-primary" type="submit" name="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

