<!doctype html>


<head>
    <title>Categories</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>


<body>

      <!-- Header -->
      <header class="container m-3 mx-auto">
        <div class="mt-4 p-5 bg-secondary text-dark rounded">
            <h1 class="text-center text-light">Events Management App</h1>
        </div>
    </header>
    <!-- End Header -->
    
        <div class="album py-5">
            <div class="container">
    
                
                <h3 class="my-2"><%= (filtered) ? "Filtered " : "" %>Category List<%= keyword %></h3>

                <div class="row row-cols-1 g-3">
                    <div class="col">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th></th>
                                <th>Created date</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            
                            <tbody>
                                <% for (let i=0; i <categories.length; i++){ %>
                                <tr>
                                    <td><%= categories[i].id %></td>
                                    <td><%= categories[i].name %></td>
                                    <td><%= categories[i].description %></td>
                                    <td><%= categories[i].image %> </td>
                                    <td><img src= <%= categories[i].image %> height="25%"/> </td>
                                    <td><%= categories[i].date.toLocaleString() %> </td>
                                    <td><a href="/abhijit/category/<%= categories[i].id %>"><button class="btn btn-primary">View</button></a></td>
                                </tr>
                                <% }%>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>


</body>

</html>
