<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <title>Events</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header class="container m-3 mx-auto">
        <div class="mt-4 p-5 bg-secondary text-dark rounded">
            <h1 class="text-center text-light">Events Management App</h1>
        </div>
    </header>
    <!-- End Header -->

    <div class="album py-5">
        <div class="container">

            <!-- <h3 class="my-2">Add New Book Form</h3> -->
            <h3 class="my-2"><%= (soldOut) ? "Sold " : "" %>Event List</h3>

            <div class="row row-cols-1 g-3">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Is Active</th>
                            <th scope="col">Capacity</th>
                            <th scope="col">Tickets Available</th>
                            <th scope="col">Categories</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                            <% for (let i=0; i < events.length; i++){ %>
                            <tr>
                            <th scope="row"><%= events[i].id%></th>
                            <td><%= events[i].name %></td>
                            <td><%= events[i].startDateTime.toLocaleString() %></td>
                            <td><%= events[i].getEndDateTime().toLocaleString() %></td>
                            <td><%= events[i].getDurationString() %></td>
                            <td><input class="form-check-input" type="checkbox" value="" <%= events[i].isActive ? 'checked': '' %> disabled </td>
                            <td><%= events[i].capacity %></td>
                            <td><%= events[i].ticketsAvailable %></td>
                            <td><%= events[i].categories %></td>
                            <td><a href="/33048126/event/<%= events[i].id %>"><button class="btn btn-primary">View</button></a></td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>