<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
</head>
<body>
    <!-- Header -->
    <header class="container m-3 mx-auto p-2">
        <div class="mt-4 p-5 bg-secondary text-dark rounded">
            <h1 class="text-center text-light">Events Management App</h1>
        </div>
    </header>
    <!-- End Header -->

    <div class="d-flex flex-column align-items-sm-center p-2">
        <h3>Admin Panel</h3>
    </div>

    <div class="d-flex justify-content-around p-2">
        <div class="card" style="width: 13rem;">
            <div class="card-body d-flex flex-column align-items-sm-center">
              <h3 class="card-title mt-3 mb-3"><%= eventCount %></h3>
              <h6 class="card-subtitle mb-2 mt-2 text-muted">Events</h6>
            </div>
        </div>
        <div class="card" style="width: 13rem;">
            <div class="card-body d-flex flex-column align-items-sm-center">
              <h3 class="card-title mt-3 mb-3"><%= categoryCount %></h3>
              <h6 class="card-subtitle mb-2 mt-2 text-muted">Categories</h6>
            </div>
        </div>
        <div class="card" style="width: 13rem;">
            <div class="card-body d-flex flex-column align-items-sm-center">
              <h3 class="card-title mt-3 mb-3"><%= addCount %></h3>
              <h6 class="card-subtitle mb-2 mt-2 text-muted">Records Created</h6>
            </div>
        </div>
        <div class="card" style="width: 13rem;">
            <div class="card-body d-flex flex-column align-items-sm-center">
              <h3 class="card-title mt-3 mb-3"><%= deleteCount %></h3>
              <h6 class="card-subtitle mb-2 mt-2 text-muted">Records Deleted</h6>
            </div>
        </div>
        <div class="card" style="width: 13rem;">
            <div class="card-body d-flex flex-column align-items-sm-center">
              <h3 class="card-title mt-3 mb-3"><%= updateCount %></h3>
              <h6 class="card-subtitle mb-2 mt-2 text-muted">Record Updates</h6>
            </div>
        </div>
    </div>


    <!-- Display Tasks for Student #1 (Silin) -->
    <div class="d-flex flex-column align-items-sm-center p-2">
        <div>
            <p>Tasks Group 1 (Silin)</p>
        </div>

        <div>
            <a href="/33048126/add-category"><button class="btn btn-primary">Add Category</button></a>
            <a href="/33048126/event-category"><button class="btn btn-primary">List All Categories</button></a>
            <a href="/33048126/search-category"><button class="btn btn-primary">List Categories By Keyword</button></a>
            <a href="/33048126/event/123"><button class="btn btn-primary">Show Event Details</button></a>
            <a href="/33048126/delete-category"><button class="btn btn-primary">Delete Category By ID</button></a>
        </div>
    </div>
    <!-- End Display Tasks for Student #1 (Silin) -->


    <!-- Display Tasks for Student #2 (Abhijit) -->
    <div class="d-flex flex-column align-items-sm-center p-2">
        <div>
            <p>Tasks Group 2 (Abhijit)</p>
        </div>
        <div>
            <a href="/abhijit/add-event"><button class="btn btn-primary">Add Event</button></a>
            <a href="/abhijit/events"><button class="btn btn-primary">List All Events</button></a>
            <a href="/abhijit/sold-out-events"><button class="btn btn-primary">List Sold Out Events</button></a>
            <a href="/abhijit/category/123"><button class="btn btn-primary">Category Detail Page</button></a>
            <a href="/abhijit/event/remove"><button class="btn btn-primary">Delete Event By ID</button></a>
        </div>
    </div>
    <!-- End Display Tasks for Student #2 (Abhijit) -->


    <div class="container d-flex flex-column align-items-sm-center">
        <div class="p-5">
            <h4>Designed By</h4>
        </div>
        <div class="p-3">
            <img src="/team_logo.png" alt="Team logo">
        </div>
    </div>

</body>
</html>