<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
	<head>
		<title>Delete Event</title>
		<link href="/bootstrap.min.css" rel="stylesheet" />
	</head>

	<body>
        <!-- Header -->
        <header class="container m-3 mx-auto">
            <div class="mt-4 p-5 bg-secondary text-dark rounded">
                <h1 class="text-center text-light">Events Management App</h1>
            </div>
        </header>
        <!-- End Header -->

        <div class="d-flex flex-column align-items-sm-center">
            <div class="d-flex flex-column align-items-sm-center">
                <h4>Missing query parameter</h4>
                <h4>"id"</h4>
            </div>

            <div class="font-weight-bold">
                Cannot find event with id: undefined
            </div>

            <a href="/"><button class="btn btn-primary">Go back to Home</button></a>
        </div>

        

	</body>
</html>
