<div class="d-flex justify-content-around p-2">
    <div class="card" style="width: 13rem;">
        <div class="card-body d-flex flex-column align-items-sm-center">
          <h3 class="card-title mt-3 mb-3">{{ eventCount }}</h3>
          <h6 class="card-subtitle mb-2 mt-2 text-muted">Records Event</h6>
        </div>
    </div>
    <div class="card" style="width: 13rem;">
        <div class="card-body d-flex flex-column align-items-sm-center">
          <h3 class="card-title mt-3 mb-3">{{ categoryCount }}</h3>
          <h6 class="card-subtitle mb-2 mt-2 text-muted">Records Category</h6>
        </div>
    </div>
</div>
